<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Test page</title>
    <style>
        .detail-layout {
            width:100%;
            overflow: hidden;
        }
        .collapsing {
            position: relative;
            overflow: hidden;
            -webkit-transition: height .35s ease;
            transition: height .35s ease;
        }
    </style>
    <script type="text/javascript" src="../build/expandable-table-vendor.js"></script>
    <script type="text/javascript" src="../build/templates.js"></script>
    <script type="text/javascript" src="../build/expandable-table.js"></script>
    <script type="text/javascript" src="../vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="../vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript">
        angular.module('app', ['expandableTable', 'ui.bootstrap.collapse'])
            .controller('Ctrl', function ($scope, $q, $timeout, $templateCache) {
                $templateCache.put('cell.html', '<div ng-click="inheritedParams.toggle(rowModel, rowModels)">{{cellData}}</div>');
                $templateCache.put('detail.html', '<div collapse="!rowModel.active" class="detail-layout">{{domainModel.name}}</div>');

                $scope.users = [
                    {name: 'vasya', age: 21 },
                    {name: 'petya', age: 30 },
                    {name: 'kolya', age: 35 }
                ];

                $scope.inheritedParams = {};

                $scope.inheritedParams.toggle = function (rowModel, rowModels) {
                    rowModel.active = !rowModel.active;

                    if (rowModel.active) {
                       _.each(rowModels, function (value, key) {

                           if (value !== rowModel) {
                               value.active = false;
                           }
                       });
                   }
                };

                $scope.click = function () {
                    $scope.users.pop();
                }
            });
    </script>
</head>
<body ng-controller="Ctrl">

<expandable-table ng-model="users" cell-template="cell.html" detail-template="detail.html" inherited-params="inheritedParams">
</expandable-table>

<a href="" ng-click="click()">Click</a>
</body>
</html>