<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Test page</title>
    <style>
        .expandable-layout {
            width: 100%;
            overflow: hidden;
            -webkit-transition: max-height 0.5s ease-in-out;
            -moz-transition: max-height 0.5s ease-in-out;
            -o-transition: max-height 0.5s ease-in-out;
            transition: max-height 0.5s ease-in-out;
            max-height: 60px;
        }

        .close {
            max-height: 0;
        }
    </style>
    <script type="text/javascript" src="../build/expandable-table-vendor.js"></script>
    <script type="text/javascript" src="../build/templates.js"></script>
    <script type="text/javascript" src="../build/expandable-table.js"></script>
    <script type="text/javascript">
        angular.module('app', ['expandableTable'])
            .controller('Ctrl', function ($scope, $q, $timeout, $templateCache) {
                $templateCache.put('test.html', '<div>{{model.name}}</div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />');

                $scope.users = [
                    {name: 'vasya', age: 21 },
                    {name: 'petya', age: 30 },
                    {name: 'kolya', age: 35 }
                ];

                $scope.click = function () {
                    $scope.users.pop();
                }
            });
    </script>
</head>
<body ng-controller="Ctrl">

<expandable-table ng-model="users" detail-layout="test.html"></expandable-table>

<a href="" ng-click="click()">Click</a>
</body>
</html>