<table class="table">
    <!-- Table heading -->
    <tr>
        <th ng-repeat="heading in headings">{{heading}}</th>
    </tr>

    <!-- Table content -->
    <tr ng-repeat-start="model in models">
        <td ng-repeat="heading in headings" ng-click="toggleLayout(model)">{{model.model[heading]}}</td>
    </tr>
    <tr ng-repeat-end>
        <td class="detail-layout" colspan="{{heading.length}}"><div expandable-layout ng-class="{close:!model.active}" class="expandable-layout"></div></td>
    </tr>
</table>